<div class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h3 class="card-title">Products</h3>
      <button type="button" (click)="toggleDialog()" class="btn btn btn-success text-center">Add</button>
    </div>

    <div class="table-responsive">
      <table class="table card-table table-striped table-vcenter">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Supplier</th>
            <th>Price</th>

            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products">

            <td>{{item.product_id}}</td>

            <td class="text-nowrap">{{item.product_type_code}}</td>
            <td class="text-nowrap">{{getSupName(item.supplier_id)}}</td>
            <td class="text-nowrap"><strong>{{item.produc_price | currency}}</strong> </td>

            <td class="w-1"><a class="color-danger" (click)="onDelete(item.product_id)" class="icon"><i
                  class="fe fe-trash text-danger"></i></a></td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<p-dialog header="Place Order" class="bg-white" [(visible)]="display">

  <form name="form" class="card p-4">

    <div>
      <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="name" required>
      </div>



      <div class="form-group">
        <label class="form-label">Select a suplier</label>
        <select class="custom-select" id="inputGroupSelect01" name="selectedUser" [(ngModel)]="selectedSuplier">

          <option *ngFor="let item of suppliers" value="{{item.supplier_id}}">{{getSupName(item.supplier_id)}}</option>
        </select>
      </div>



      <div class="form-group">
        <label class="form-label">Price</label>
        <input type="number" class="form-control" name="price" [(ngModel)]="price" required>
      </div>



    </div>



    <div class="form-group py-4">
      <button type="button" class="btn d-inline m-2  btn-secondary " (click)="onSave()">
        Add
      </button>
    </div>
  </form>
</p-dialog>
